<mat-toolbar color="primary" class="sticky-toolbar">
  <button
    mat-icon-button
    class="back-button"
    color="warn"
    type="button"
    (click)="navigateToStrategyTypesList()"
  >
    <mat-icon>arrow_back_ios_new</mat-icon>
  </button>
  @if (schema) {
  <span class="toolbar-title">{{ strategyTypeConfig?.label }}</span>
  } @else if(strategyTypeConfig) { Strategy not implemented } @else { Strategy
  not found }
</mat-toolbar>
@if (schema) {
<app-dynamic-form
  mode="create"
  [schema]="schema"
  (submitted)="createStrategy($event)"
  [backendErrors]="backendErrors"
>
</app-dynamic-form>
}
