<nav class="bottom-nav mat-elevation-z4">
  <a mat-button routerLink="/dashboard" routerLinkActive="active">
    <mat-icon>dashboard</mat-icon>
    <span class="label">Dashboard</span>
  </a>
  <a mat-button routerLink="/strategies" routerLinkActive="active">
    <mat-icon>view_list</mat-icon>
    <span class="label">Strategies</span>
  </a>
  <a mat-button routerLink="/create-strategy" routerLinkActive="active">
    <mat-icon>add_circle</mat-icon>
    <span class="label">Create</span>
  </a>
  <a mat-button routerLink="/admin" routerLinkActive="active">
    <mat-icon>person</mat-icon>
    <span class="label">Profile</span>
  </a>
</nav>
